.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
        .button-success {
            background: rgb(28, 184, 65);
            /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60);
            /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20);
            /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221);
            /* this is a light blue */
        }

        body {
            background: #dfdfdf ;
        }

        #game-board {
            width: 600px;
            margin: auto;
            padding: 1em;
            background-color: white;
        }

        #score {
            font-size: 1.5em;
            margin: 1.25em o;
        }

        #answer {
            font-size: 1.5em;
            margin: 1.25em o;
        }

        #value {
            font-size: 1.25em;
            margin: 1.25em o;
        }

        #category-title {
            font-size: 1em;
            margin: 1.25em o;
        }

        #invalid-count {
            font-size: 1em;
            margin: 1.25em o;
        }

        #question {
            font-size: 1.25em;
            margin: 1.25em o;
        }